@font-face{
  font-family: 'digital';
  src: url('./fonts/digital-7-4.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face{
  font-family: 'douyu-light';
  src: url('./fonts/douyu_light.otf');
  font-weight: normal;
  font-style: normal;
}

@font-face{
  font-family: 'date';
  src: url('./fonts/date.otf');
  font-weight: normal;
  font-style: normal;
}

@font-face{
  font-family: 'DinMedium';
  src: url('./fonts/DIN-Medium.otf');
}